<p>
    You are currently sat in one of my projects, over the years I have built many projects, unfortunatly back then i didnt have good working knowledge of github and git so i may have deleted them
    My aim is to either build again, with the new technologies i have learn't or scrap them because they may not be worth it,
    I'm looking at you calculator app. yea its fun but its simple. Some past projects include
</p>
<ul>
    <li>A money counter</li>
    <p>pretty simple though now i think about it, could look at building again and improving maybe</p>
    <li>A battle ships game</li>
    <p>that was a pain, programmed the comuters side for the placement of boats, had to get it so that the boats wouldnt merge together</p>
    <h6>Aim to build</h6>
    <li>golf Lesson booking system</li>
    <li>This site</li>
</ul>
